/Class/nbproject/private/
/Cinema/nbproject/private/
/MovieBooking/nbproject/private/
/MovieBookingFx/nbproject/private/
/MovieBookingFx/build/
/MovieBookingFx/dist/
MovieBookingFx/src/moviebookingfx/MovieBookingFx.java
/InterFace/nbproject/private/